.banner {
  background-image: url("../imgs/banner.jpg");
  background-size: cover;
  height: 100vh;

  .text {
    .text-header {
      font-size: 6vw;
      padding-top: 2vh;
    }
  }

  // Mobile
  @media (min-width: 320px) and (max-width: 425px) {
    height: 50vh;

    .text {
      padding-top: 10vh;
    }
    .polygons {
      display: none;
    }
  }

  // Tablet
  @media (min-width: 426px) and (max-width: 768px) {
    height: 35vh;
    .text {
      padding-top: 5vh;
    }
    .polygons {
      display: none;
    }
  }

  // Small Laptop
  @media (min-width: 769px) and (max-width: 1024px) {
    height: 35vh;
    .text {
      padding-top: 5vh;
    }
    .polygons {
      display: none;
    }
  }

  // Large Laptop
  @media (min-width: 1025px) and (max-width: 1440px) {
    height: 70vh;
    .text {
      padding-top: 15vh;
    }
    .polygons {
      display: none;
    }
  }

  // 4K
  @media (min-width: 1441px) and (max-width: 2560px) {
    .text {
      padding-top: 5vh;
    }
  }
}
