.progress {
  height: 0.6rem;
  font-size: 0.75rem;
  border-radius: 0;
  left: 0;
  position: absolute;
  top: 80px;
  width: 100%;
}

.search-input {
  @media (min-width: 320px) and (max-width: 425px) {
    width: 70px !important;
  }
  width: auto;
}

.icon-container {
  &:hover {
    background-color: $success;
    .notification-badge {
      background-color: white;
    }
  }
  .notification-badge {
    height: 10px;
    width: 5px;
    position: absolute;
    top: 5px;
    left: 30px;
  }
}
