li {
  list-style: none;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    .label {
      opacity: 1;
      left: 0;
      width: 100%;
    }
  }
  .label {
    padding: 1rem;
    width: 100%;
    border-radius: 0.3rem;
    text-align: center;
  }
}
.nav-active {
  .label {
    background-color: $primary;
    color: $dark;
  }
}

.active-link {
  background-color: $primary;
}
.inactive-link {
  background-color: $light-gray;
  color: $dark-gray;
}

.progress {
  height: 0.6rem;
  font-size: 0.75rem;
  border-radius: 0;
  left: 0;
  position: absolute;
  top: 80px;
  width: 100%;
}
