// Variables
$primary: #058997;
$success: #8dc043;
$dark: #111111;
$light-gray: #d1d1d1;
$dark-gray: #242424;
$transparent-gray: rgba(0, 0, 0, 0.3);
// Overriding Bootstrap Variables
$theme-colors: (
  "primary": $primary,
  "success": $success,
  "dark": $dark,
  "light-gray": $light-gray,
  "dark-gray": $dark-gray,
  "transparent-gray": $transparent-gray,
);
// Bootstrap
@import "bootstrap";

@import "./assets/scss/carosel.scss";
@import "./assets/scss/navBar.scss";
@import "./assets/scss/sideMenu.scss";
@import "./assets/scss/footer.scss";
@import "./assets/scss/global.scss";

// Mobile
@media (min-width: 320px) and (max-width: 425px) {
}

// Tablet
@media (min-width: 426px) and (max-width: 768px) {
}

// Small Laptop
@media (min-width: 769px) and (max-width: 1024px) {
}

// Large Laptop
@media (min-width: 1025px) and (max-width: 1440px) {
}

// 4K
@media (min-width: 1441px) and (max-width: 2560px) {
}
