// Variables
$dark: #111111;
$light-gray: #bdbdbd;
$dark-gray: #242424;
// Overriding Bootstrap Variables
$theme-colors: (
  "dark": $dark,
  "light-gray": $light-gray,
  "dark-gray": $dark-gray,
);
// Bootstrap
@import "bootstrap";

// Globals
a {
  text-decoration: none;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}
.darkened-image {
  filter: brightness(50%);
}

@import "./assets/scss/carosel.scss";

// JUST FOR REFERENCE
// Mobile
@media (min-width: 320px) and (max-width: 425px) {
}

// Tablet
@media (min-width: 426px) and (max-width: 768px) {
}

// Small Laptop
@media (min-width: 769px) and (max-width: 1024px) {
}

// Large Laptop
@media (min-width: 1025px) and (max-width: 1440px) {
}

// 4K
@media (min-width: 1441px) and (max-width: 2560px) {
}
